:host {
  --progress-color: #55c900;
}

:host(.ready):not(:host(.stay-open)) {


  slot#main {
    &::slotted(*) {
      display: block !important;
    }
  }
}

:host(.ready.pre-visual):not(:host(.stay-open)) {


  slot#main {
    &::slotted(*) {
      visibility: visible !important;
      opacity: 0 !important;
    }
  }
}

:host(.ready.pre-visual.visual):not(:host(.stay-open)) {


  slot#main {
    &::slotted(*) {
      transition: none !important;
      visibility: visible !important;
      opacity: 1 !important;
    }
  }
}
slot#main {
  &::slotted(*) {
    display: none !important;
    transition: opacity 0.1s ease;
    visibility: hidden !important;
    opacity: 0 !important;
  }
}


slot {
  display: contents;
}
